* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #0b4f6c;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
     
}

.navbar-logo h2{
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-logo h2:hover{
    color: #ffd166;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}
.navbar-links li a::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    left: 0;
    bottom: -5px;
    background:#ffd166 ;
    transition: 0.3s;
}

.navbar-links li a:hover {
    color: #ffd166;
}
.navbar-links li a:hover::after {
    width: 100%;
}

.navbar-buttons {
    display: flex;
    gap: 15px;
}
.login-btn,
.register-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn {
    background-color: white;
    color: #0b4f6c;

}

.register-btn {
    background-color: #ffd166;
    color: black;
}

.login-btn:hover,
.register-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .navbar-links {
        flex-direction: column;
        gap: 15px;
        margin: 20px,0;
    }
    .navbar-buttons {
        flex-direction: column;
        width: 100%;
    }
    .login-btn,
    .register-btn {
        width: 100%;
    }
}